.header {
    background-color: #ffffff;
}

.header__wrapper {
    height: 50px;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: start;
    width: 100px;
    font-size: 32px;
    color: #fcd823;
}

.logo-text1 {
    line-height: 40px;
}

.logo-text2 {
    color: #e70000;
}

.logo-img {
    margin-top: 5px;
    width: 30px;
    height: 30px;
}

.navbar {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
}

.navbar__item {
    display: block;
    margin-left: 20px;
    font-size: 16px;
}

.navbar__item a {
    transition: all 0.2s;
    color: #000000;
}

.navbar__item a:hover {
    color: #fcd823;
}

.slider {
    background-image: url(../img/index/roflanface.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.slider__wrapper {
    padding: 150px 0;
}

.welcome-block {
    padding: 50px;
    max-width: 600px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
}

.welcome-block__title {
    font-size: 32px;
    font-weight: bold;
    color:#e70000;
}

.welcome-block__subtitle, .welcome-block__text {
    max-width: 400px;
    text-align: left;
    margin-left: 10px;
    font-size: 18px;
}

.content {
    background-color: #fcd823;
}

.content__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}

.content__item {
    max-width: 300px;
    padding: 20px;
    background-color: #ffffff;
    border: 3px solid #000000;
    border-radius: 10px;
}

.content__img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.content__title {
    font-size: 24px;
    font-weight: bold;
}

.content__text {
    font-size: 16px;
}