body {
    margin: 0;
    padding: 0;
    background-color: #cbcbbd;
}

h1, div, h1, h2, h3, p, a, img, label, form {
    margin: 0;
    padding: 0;
    display: block;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 10px 0 10px;
}
